.btn-orange, .btn-orange a:link, .btn-orange a:visited {
    border: 2px solid #F26B3A !important;
    color:  #F26B3A !important;
    font-size: 1.1em !important;
} 

.btn-orange:hover, .btn-orange a:hover, .btn-orange a:active {
    background: #F26B3A;
    color: #ffffff !important;
}